<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Araraquara Imóveis</title>

    <style>
        body {
            background-color: {{cor_fundo_html}}; 
        }
    </style>
</head>

<body>
    <header class="cabecalho">
        <p class="titulo">Araraquara Imóveis</p>
    </header>

    <main>
        <section>
            <img src="/static/img/modelo-de-casa-de-ferias-chave-e-desenho-em-area-de-trabalho-retro-conceito-de-venda-de-imoveis_1387.png" alt="Imagem ilustrativa de imóvel">
        </section>

        <section class="container-sobre">
            <h2>Encontre o Imóvel dos Seus Sonhos com a Araraquara Imóveis!</h2>
            <p class="sobre">
                Bem-vindo à Araraquara Imóveis, seu parceiro confiável na busca pelo imóvel ideal. Com uma vasta gama de opções, desde apartamentos modernos a casas espaçosas, estamos aqui para ajudar você a encontrar o lugar perfeito para viver, investir ou até mesmo realizar aquele sonho de ter um imóvel exclusivo.
            </p>
            <p class="sobre">
                Nosso compromisso é oferecer não apenas uma experiência de compra ou aluguel tranquila, mas também o suporte necessário em cada etapa do processo.
            </p>
            <p class="sobre">
                Se você procura um lar acolhedor para sua família, um imóvel comercial para expandir seus negócios ou até mesmo uma oportunidade de investimento com grande potencial, temos as melhores opções do mercado.
            </p>

            <h3>Por que escolher a Araraquara Imóveis?</h3>
            <ul>
                <li><strong>Variedade de Imóveis:</strong> Contamos com imóveis para todos os gostos e orçamentos, atendendo a diferentes necessidades e preferências.</li>
                <li><strong>Consultoria Especializada:</strong> Nossos corretores são altamente capacitados para ajudar você a tomar a melhor decisão, com informações detalhadas sobre cada imóvel.</li>
                <li><strong>Facilidade e Transparência:</strong> Acompanhamos o processo de compra ou aluguel do início ao fim, garantindo uma experiência sem complicações.</li>
                <li><strong>Ofertas Exclusivas:</strong> Temos oportunidades imperdíveis e condições especiais que você só encontra aqui.</li>
            </ul>

            <p class="sobre">
                Explore nossas opções e descubra o imóvel que vai transformar a sua vida. Entre em contato com nossa equipe e agende uma visita. Estamos à disposição para tornar o seu sonho realidade!
            </p>
        </section>
    </main>
</body>

</html>
